
main {
    padding-bottom: 100px; /* same height as footer */
}
main.container {
    margin-bottom: 150px!important;
}


footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
}