/* General Styles */
body {
    margin: 0;
    padding-top: 20px;
}

.container {
    margin: 10px;
}

/* Index (Home) Page */
body.index {
    background-color: #f4f4f4;
}

body.index .container {
    margin: 0;
}

/* Hero Section */
body.index .hero {
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    z-index: -1;
}

body.index .hero .hero-content {
    max-width: 600px;
    padding: 20px;
}

body.index .hero .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

body.index .hero .hero-content p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

body.index .hero .hero-content .hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

body.index .hero .hero-content .hero-buttons .btn {
    padding: 12px 30px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: #ff6b6b;
}

body.index .hero .hero-content .hero-buttons .btn:hover {
    background-color: #ff4b4b;
}